<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <h1>Add a Message</h1> 

    <form action="/newmessage" method="POST">
        <div>
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
        </div>

        <button type="submit">Add</button>
    </form>
    <%- include('footer') %>
</body>
</html>